# shurjoPay Credentials
SHURJOPAY_USERNAME=sp_sandbox
SHURJOPAY_PASSWORD=pyyk97hu&6u6
SHURJOPAY_BASE_URL=https://sandbox.shurjopayment.com
SHURJOPAY_PREFIX=sp
SHURJOPAY_STORE_ID=1
SHURJOPAY_CLIENT_IP=103.101.1.2

# App configuration
APP_URL=
GEMINI_API_KEY=
